*{
    margin: 0;
    padding: 0;
}

.name{
    color: rgba(253, 110, 10, 1);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

li{
    margin-right: 50px;
    list-style: none;
}

.btn-primary{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 100px;
}
.nam{
    font-size: 50px;
    margin-left: 150px;
    margin-top: 40px;
}
ul a{
    text-decoration: none;
    color: rgb(48, 47, 47);
}
.wa{
    color: white;
}
.header{
    background-color: rgba(255, 248, 243, 1);
}
.dev{
    margin-left: 50px;
    margin-top: 0px;
    padding-bottom: 100px;
}
.my-pic{
    position: relative;
}